html {
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #292929;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.no-scroll {
	overflow: hidden;
	
}

/* React Chrono Timeline custom stylings */
#timeline-main-wrapper {
	height: 50%;
}

.timeline-item-title {
	color: white;
}

.css-1t6did-TitleWrapper.active {
	color: #292929 !important;
	padding: .5em;
}

.TimelineTitleContainer {
	margin: -1em;
}

.react-chrono-timeline {
	/* wrapper for cards section */
}

.timeline-horz-card-wrapper {
	/* wrapper for horizonal cards */
}

.timeline-card-content {
	/* card content */
	border-radius: 20px !important;
	padding: 1em;

}

.card-title {
	color: #292929 !important;
}

.css-d0st9p-CardImage {
	/* card image */
	border-radius: 10px;
	max-height: 95%;
}